{% extends "layout.html" %}
{% block body%}
        <form action="/register" method="POST">
            <input placeholder="Username" name="name" autofocus autocomplete="off" type="text" required> 
            <input placeholder="Password" name="password" autofocus autocomplete="off" type="password" required>
            <input placeholder="Age" name="age" autofocus autocomplete="off" type="number" required>
            <input placeholder="Ful Name" name="fullname" autofocus autocomplete="off" type="text" required>
            <select name="gender" required>
                {% for gender in g %}
                <option value={{gender}}>{{gender}}</option>
                {%endfor%}
            </select>
            <input placeholder="Address" name="address" autofocus autocomplete="off" type="text" required>
            <input placeholder="Health" name="health" autofocus autocomplete="off" type="text" required>
            
            <input type="submit">
        </form>
        <a href="/login">Login Page</a>
        <a href="/logout">Logout</a>
{% endblock %}